* {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 3, 3);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}


/* drag */


.drag {
    height: 70vh;
    display: grid;
    place-items: center;
}

.slider {
    width: 97vw;
    height: 60vh;
    overflow-x: scroll;
    scrollbar-width: none;
    cursor: grab;
}


.slider::-webkit-scrollbar {
    display: none;
}
 

.slider-track {
    width: max-content;
    height: inherit;
    display: flex;
    gap: 1.5rem;
}


.card-image {
    height: 60vh;
    width: 20vw;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    aspect-ratio: 3/2;
}

@media (max-width:768px) {
    .card-image{
        height: auto;
        width: 300px;
    }
}

.card-image:hover {
    box-shadow:  2px 2px 3px 2px white;
    transform: scale(1.1);
}

.slider.active {
    cursor: grabbing;
}


/* card */


